/* single item */
/*a.filelink {display:block;}
#centercontent a[target="_blank"].filelink:after {content:none}*/
a.filelink > img {padding-right:5px;}
span.filelink-description {display:block;margin-bottom:10px;}
i.info {
    margin:0 20px;
}
.hideable i {
    cursor: pointer;
}
.hideable.hidden i:after {
    content:"Show info";
}
.hideable i:after {
    content:"Hide";
}
.hideable.hidden .filelink-description {
    display:none;
}
.filelink-size:after {content: ')'}
.filelink-size:before {content: '('}
.filelink-size {padding-left: 5px; color:#999; font-size:0.6em;vertical-align:10%}
/* title */
.filelinkcat-title {}
/* div container */
.filelinkcat {padding:0;margin:0;}
/* list items */
.filelinkcat-list {}
.filelinkcat-li {}
.filelinkcat-li > a > img {padding-right:5px;}
.filelinkcat-li > a {display:block;margin-top:2px}
.filelinkcat-description {display:block;margin-bottom:2px;}
/* dl items no description */
.filelinkcat-dl-nd {}
.filelinkcat-dt-nd {padding: 2px 0;}
.filelinkcat-dt-nd a > img {padding-right:5px;}
/* dl items with description */
.filelinkcat-dl {}
.filelinkcat-dt {background-color: #eee; padding:5px;margin-top:3px}
.filelinkcat-dt > a > img {padding-right:5px;}
.filelinkcat-dd {margin-bottom: 5px;padding:5px;border: 1px dotted #eee;}
